#auth-form, #signup-form {
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#title {
  display: flex;
  margin-left: 25%;

  h1 {
    position: relative;
    width: 199px;
    height: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    left: 12px;
  }
}

#auth-data-form {
  input {
    position: relative;
    display: block;
    width: 424px;
    height: 72px;

    border: 1px solid #B9C0C9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #B9C0C9;

    opacity: 0.6;
  }

  #forget-password-link, #signup-link, #auth-link {
    width: 139px;
    height: 21px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #5C6A7C;
  }

  #login-button {
    padding: 22px 177px;

    width: 423px;
    height: 72px;

    margin-top: 24px;

    background: #5C6A7C;
    border-radius: 4px;
  }
}
